@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    margin: 0 auto;
    /*background: url(img/sad.gif);*/
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Comfortaa';
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    width: 100%;
}

header {
    background: white;
    position: fixed;
    width: 100%;
    z-index: 3;
}

header::after {
    content:'';
    display: table;
    clear: both;

}

.topnav {
    margin: 0 auto;
    width: 95%;
    padding: 10px;
}

/* making the avatar change upon hover */

.leoActiv, .leoAvatar {
    width:275px;
}

.leo img {
    object-fit: cover;
}

.leoActiv{
    display:none;
}

.leo:hover .leoAvatar {
    display:none;
}

.leo:hover .leoActiv {
    display:inline-block;
}

.leo:hover {
    cursor: pointer;
}


/* -------------- NAV SECTION OF TOP BAR ----------------------*/

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 80px;
    padding-top: 15px;

    position: relative;
}

nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

#home-button {
    color: #007fff;
}
#work-button:hover {
    color: #03ac13;
    transition: 0.25s ease-in;
}
#art-button:hover {
    color: #d10000;
}
#about-button:hover {
    color: rgb(105, 105, 105);
}

nav a:before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: black ;

    position: absolute;
    top: 5px;
    width: 0;
    
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}




/*-------------------------- THE MAIN SECTION ----------------------*/

/* ---- Fade Mechanics ---- */
.hidden {
    opacity: 0;
    transition: all 1s;
    transform: translateY(-10%);
    z-index: 1;
}
.show {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
    
}
.hiddenUp {
    opacity: 0;
    transition: all 1s;
    transform: translateY(10%);
}
.showUp {
    opacity: 1;
    transform: translateY(0);
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.content {
    margin: 0 auto;
    z-index: 1;
}

/* ---- Logo, Message, and Langs ---- */

.introText {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
}

.title_icon {
    display: flex;
    justify-content: center;
}

.bigLeo {
    width: 370px;
    height: 370px;
}

.nameTitle {
    padding-left: 5%;
    font-size: 60px;
    line-height: 10px;
}
    .nameTitle h1, h3 {
        color: #0066FF;
        font-family: 'Comfortaa', cursive;
        font-family: 'Inter', sans-serif;
    }
    .nameTitle p {
        font-size: 50%;
        color: gray;
    }

.titleLinks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /*
    display: none;
    */
}
    #linkButton {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        padding: 2px;
    }
    #linkButton:hover {
        
        background-color: lightslategrey;
        transition: ease-in .2s;
    }
    .linkIcon {
        width: 100%;
        margin-top: 3px;
        fill: #0066FF;
    }

.langs {
    display: flex;
    margin: 0 auto;
    padding-top: 5vw;
    gap: 5vw;
}   
/* 
    #langIcon {
        filter: grayscale(1);
    }
    #langIcon:hover {
        filter:grayscale(0);
        transition: ease-in-out .3s;
        
    } */

.arrowDown {
    position: relative;
    z-index: 4;
    bottom: -150px;
    margin: 0 auto;
    width: 5vw;
    height: 5vw;
    filter: invert(1);
}

/* ARROW DOWN */ 
#arrowAnim {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    position: relative;
    z-index: 33;
    top: -10px;
  }
  .arrowSliding:hover {
    cursor: pointer;
  }
  
  .arrow {
    width: 2vw;
    height: 2vw;
    border: 1vw solid;
    border-color: white transparent transparent white;
    transform: rotate(-45deg);
  }
  
  .arrowSliding {
    position: relative;
    -webkit-animation: slide 3s linear infinite; 
            animation: slide 3s linear infinite;
  }
  
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s; 
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s; 
      animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateX(5vw); }	
     20% { opacity:1; transform: translateX(1vw); }	
     80% { opacity:1; transform: translateX(-1vw); }	
    100% { opacity:0; transform: translateX(-5vw); }	
  }
  @keyframes slide {
      0% { opacity:0; transform: translateX(-6vw); }	
     20% { opacity:1; transform: translateX(-8vw); }	
     80% { opacity:1; transform: translateX(-8vw); }	
    100% { opacity:0; transform: translateX(-10vw); }	
  }
/* ARROW DOWN END  */

/* ---- About Me ---- */

.info h1 {
    font-size: 40px;
    
    color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
.introText {
    padding-bottom: 30px;
}

.pic_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
    .pic_desc_pic {
        border-radius: 50%;
        background-color: white;
        width: 175px;
        height: 175px;
        background-image: url('../img/profile.jpg');
        background-size: cover;
        
    }
        /* .pic_desc_pic img {

        } */
    .pic_desc_desc {
        
        margin-top: 10px;
        width: 50%;
        text-align: center;
    }
        .pic_desc_desc p {
            color: white;
            line-height: 25px;
            font-size: 18px;
            font-family: 'Didact Gothic', sans-serif;
            font-weight: normal;
        }
.resume_dl {
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
}
    .resume_dl button {
        border: 3px solid white;
        background-color: #0066FF;
        color: white;
        width: 150px;
        height: 40px;
        outline: none;
        margin: auto;
    }
    .resume_dl button:hover {
        cursor: pointer;
        background-color: white;
        color: #0066FF;
        transition: ease-in .2s;
    }
    .resume_dl button:active {
        width: 149px;
        height: 39px;
        transition: ease-out .1s;
    }
        .resume_dl a {
            text-decoration: none;
        }

.skills_tech {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 2%;
    margin-bottom: 50px;
    flex-direction: row-reverse;
}

.skills {
    width: 35%;
}
.tech {
    width: 35%;
}
.skills_tech div {
    margin: 0;
}
    .skills_desc {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: center;
    }
    .skills h1{
        text-align: left;
        
    }
    .skills_desc p {
        color: white;
        font-family: 'Didact Gothic', sans-serif;
        padding: 10px;
        margin: 5px;
    }
    .skills_desc p:hover {
        background-color: #0044ff;
        border-radius: 5px;
        transition: ease-in .2s;
        cursor: default;
    }

.vl {
    background-color: white;
    width: 1px;
    left: -200px;
    margin: 0;
}


.tech_desc {
    display: flex;
    justify-content: center;
}
.tech_desc .langs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 0;
    row-gap: 30px;
}
    .tech_desc .langs svg {
        filter: grayscale(1);
        border-radius: 3px;
    }
        .tech_desc .langs svg:hover {
            filter: grayscale(0);
            transition: ease-in .1s;
            box-shadow: 0px 0px 5px 5px white;
        }
        .php:hover path {
            fill: #9481ff !important;
        }
        .javaIcon:hover path {
            fill: white;
            transition: ease-in .1s;
        }
        .ps:hover path {
            fill: #00054a !important;
        }

    
    /* very nice bro really nice here with the childs*/
/* .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
}
    .projects h1 {
        font-size: 40px;
        text-align: center;
        font-family: 'Comfortaa', cursive;
        padding-bottom: 30px;
    }
    .proj_item {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        gap: 40px;
        margin-bottom: 30px;
        border: solid 2px #0066ff;
        border-radius: 20px;
        padding: 10px;
        box-shadow: -10px 10px #0066ff;
    }
        .thumbnail {
            border-radius: 20px;
            width: 40%;
            height:217px;
            background-color: #0066FF;
        }
            .tbnOne {
                background-image: url(../img/team-generator-tbn.png);
                background-size: cover;
            }
        .proj_desc {
            width: 60%;
        }
        .proj_link button {
            border: 2px solid #0066FF;
            border-radius: 7px;
            width: 150px;
            height: 30px;
            background-color: white;
            cursor: pointer;
            box-shadow: -2px 2px #0066ff;
        }
            .proj_link button i {
                margin-left: 10px;
            }
            .proj_link button:hover i {
                transform: translateX(5px);
                transition: ease-in .2s;
            }
        
    .proj_item:nth-child(3) {
        border: solid 2px lightsalmon;
        box-shadow: -10px 10px lightsalmon;
    }
        .proj_item:nth-child(3) .thumbnail {
            background-color: lightsalmon;
        }
        .proj_item:nth-child(3) .proj_link button {
            border: 2px solid lightsalmon;
            box-shadow: -2px 2px lightsalmon;
        }
    .proj_item:nth-child(4) {
        border: solid 2px lightgreen;
        box-shadow: -10px 10px lightgreen;
    }
        .proj_item:nth-child(4) .thumbnail {
            background-color: lightgreen;
        }
        .proj_item:nth-child(4) .proj_link button {
            border: 2px solid lightgreen;
            box-shadow: -2px 2px lightgreen;
        }

    .moreProj {
        margin: 0 auto;
    }
    .moreProj button{
        background-color: white;
        width: 100px;
        color: #0044ff;
        font-size: 20px;
        padding: 10px;
        border: 3px solid #0044ff;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 4px 4px #0044ff;
    }
    .moreProj a:hover button {
        color: #0077ff;
        border: 3px solid #0077ff;
        cursor: pointer;
        box-shadow: 4px 4px #0077ff;
    } */


    /* PROJECTS GRID */
    :root {
        --card-height: 300px;
        --card-width: 450px;
    }

    .projects h1 {
        font-size: 40px;
        text-align: center;
        font-family: 'Comfortaa', cursive;
        padding-bottom: 30px;
    }
    
    .projects-container {
        width: 80%;
        margin: 0 auto;
        
        font-family: 'Noto Sans', sans-serif;
    }
    
    .proj-grid {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: center;
    }
    
    .card {
        background-color: #007fff;
        height: var(--card-height);
        width: var(--card-width);
        border-radius: 20px;
    }
        .card:nth-child(2) {
            background-color: #f08080;
        }
        .card:nth-child(3) {
            background-color: #90ee90;
        }
        .card:nth-child(4) {
            background-color: #ffa07a;
        }
    
    .card-move {
        object-fit: cover;
        position: absolute;
        border-radius: 30px;
    }
    
    .proj-thumb {
        background-size: cover;
        height: var(--card-height);
        width: var(--card-width);
        
        border-radius: 20px;
        z-index: 1;
        position: absolute;
        overflow: hidden;
    }
        #proj-title {
            text-decoration: none;
            color: white;
        }
    
    .card-move:hover .proj-thumb {
        transform: translate(5px, -5px);
        transition: ease-in 0.1s;
        
        cursor: pointer;
    }
    .card-move:hover .proj-thumb img {
        transition: ease-in 0.1s;
        filter: brightness(0.5);
        
    }
        .proj-thumb:not(:hover) {
            transform: translate(0px, 0px);
            transition: ease-out 0.2s;
        }
        .proj-bkg {
            object-fit:cover; 
            display: block;
            height: 100%;
            width: 110%;
            transform: translateX(-10px); 
            z-index: 1; 
            position: inherit;
        }
    .proj-name {
        position: relative;
        font-size: 45px;
        color: WHITE;
        z-index: 4;
        text-align: center;
        opacity: 0;
        margin-top: 25%;
        
    }
        .card-move:hover .proj-name {
            opacity: 1;
            transition: ease-in 0.25s;
        }
        .card-move:not(:hover) .proj-name {
            opacity: 0;
            transition: ease-in 0.1s;
        }

        /* PROJECTS END */

/* ---- The Wave SVG Mechanics ---- */
.spacer {
    aspect-ratio: 960/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    .layer1 {
        background-image: url("../img/toplayer2.svg");
        margin-bottom: -28px;
    }
    .layer2 {
        margin-top: -51px;
        background-image: url('../img/downlayer2.svg');
    }
.footerspacer {
    aspect-ratio: 900/50;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    .footerlayer {
        background-image: url('../img/footerlayer.svg');
        margin-bottom: -1px;
    }


/* ---- Footer ---- */
.bottom {
    background-color: #0066FF;
    width: 100%;
    margin: 0;
}

.bottom a {
    text-decoration: none;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
    .contact-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        gap: 40px;
    }
    .contact-links a i {
        margin-top: 15px;
        color: white;
    }
        .contact-links a i:hover {
            color: lightslategrey;
            transition: ease-in .1s;
        }
    .contact p {
        color: white;
        margin: 0 auto;
    }
        .contact p:nth-child(2) {
            padding-top: 20px;
        }
        .contact p:nth-child(3) {
            padding-bottom: 40px;
        }


.copyright {
    margin: 0 auto;
    text-align: center;
    background-color: #0066FF;
    position: relative;
    bottom: 0;
}
.copyright p {
    background-color: #0066FF;
    color: white;
    bottom:0;
    margin: 0;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
}

#proj-name {
    display: none;
    text-align: center;
}

#skills-tech-hr {
    display: none;
}


/* TABLET RESOLUTION */
@media only screen and (max-width: 1300px) {


    .pic_desc_pic {
        width: 250px;
        height: 250px;
    }
    .pic_desc_desc {
        width: 80%;
    }
        .pic_desc_desc p {
            font-size: 22px;
        }
    .resume_dl {
        transform: scale(1.2);
    }
    .vl {
        margin: 0 10px;
    }
    .skills, .tech {
        width: 40%;
    }
    .skills_desc {
        flex-direction: column;
        text-align: center;
        row-gap: 20px;
    }
        .skills_desc p {
            font-size: 20px;
        }
    .tech_desc .langs {
        grid-template-columns: auto auto auto;
        column-gap: 30px;
    }
    .tech_desc .langs svg {
        width: 70px;
        height: 70px;
        filter: grayscale(0);
    }
    

}

@media only screen and (max-width: 970px) {
    #proj-name {
        display: block;
        transform: translateY(20px);
    }
    .proj-grid {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 900px ) {

.title_icon {
    width: 97%;
    margin: 0 auto;
} 

.projects-container {
    transform: translateY(-40px);
}

}
/* TABLET END */

@media only screen and (max-width: 780px) {

}

/* PHONE RESOLUTION */

@media only screen and (max-width: 440px) {

.picks {
    display: none;
}

.introText {
    padding-top: 50px;
    
}

.title_icon {
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}
    .bigLeo {
        display: none;
    }
.layer1 {
    height: 160px;
}

.card, .proj-thumb  {
    width: 350px;
}

.vl {
    display: none;
}

.skills_desc {
    row-gap: 0;
}
.skills_tech {
    flex-direction: column;
    padding-bottom: 50px;
}
    .skills_tech div {
        margin: auto;
    }
    .skills, .tech {
        margin: 0 auto;
        width: 90%;
    }
#skills-tech-hr {
    display: block;
}

.tech_desc .langs {
    column-gap: 50px;
}
.tech_desc .langs svg {
    padding: 6px;
    background-color: rgb(239, 251, 255);
    border-radius: 15px;
}



.projects h1 {
    font-family: 'Roboto', sans-serif;
}

.layer2 {
    height: 150px;
}
.footerlayer {
    height: 120px;
}

.contact {
    margin-bottom: -2px;
}

}


